a{
  text-decoration: none;
  color: black;
  
}

  
body {
    background: #35393b;
    padding: 1em;
    height: 100%;
}
#root{
    position: relative;
	min-height: 100%;
}
.main_content{
    min-height: 85vh;
}
@media (max-height:1000px) {
    .main_content {
        min-height: 80vh;
    }
}
@media (max-height:700px) {
    .main_content {
        min-height: 70vh;
    }
}
footer{
    margin: 3em;
    max-height: 3em;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

p {
    color: white;
}

span {
    color: white;
}

h3 {
    color: white;
}

h2 {
    color: white;
}

.top_icons{
    display: flex;
    width: 95%;
    justify-content: space-between;
}
.logout{
    max-height: 1em;
}