a{
  text-decoration: none;
  color: black;
  
}
body {
    background: #35393b;
    padding: 1em;
}

p {
    color: white;
}

span {
    color: white;
}

h3 {
    color: white;
}

h2 {
    color: white;
}
.logout {
    margin-left: 90%;

}